@import "mediaQuery";

//section--one--
.section__one {
  background-color: #151515;
  color: #ead2ab;
  width: 100%;
  height: 80vh;
  z-index: 9;
  position: relative;

  @include breakpoint(600) {
    height: 40vh;
  }

  &--content {
    width: 100%;
    height: calc(80vh - 70px);
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.95s;

    @include breakpoint(600) {
      height: calc(40vh - 70px);
    }

    .lists {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h6 {
        font-weight: 100;
        font-size: 0.9vw;

        @include breakpoint(600) {
          margin-left: 5vw;
          font-size: 3vw;
          flex-shrink: 0;
        }

        h6:nth-child(1) {
          @include breakpoint(600) {
            margin-left: 2vw;
          }
        }
      }
    }

    .textOne {
      width: 100%;
    }

    .textTwo {
      width: 80%;
    }
  }
}

// .appear {
//  opacity: 1;
// }
